<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.horse.proud">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".ui.setting.ShowMessagesActivity"></activity>
        <activity android:name=".ui.setting.OverViewPublishedActivity" />
        <activity android:name=".ui.setting.EditPersonalInfoActivity" />
        <activity android:name=".ui.common.ViewLocationActivity" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about" />
        <activity android:name=".ui.login.RegisterActivity" />
        <activity
            android:name=".ui.lost.FoundActivity"
            android:label="@string/new_lost" />
        <activity
            android:name=".ui.rental.RentalActivity"
            android:label="@string/new_rental" />
        <activity
            android:name=".ui.lost.LostActivity"
            android:label="@string/new_found" />
        <activity
            android:name=".ui.common.MapActivity"
            android:label="标记地点" />
        <activity
            android:name=".ui.task.TaskActivity"
            android:label="@string/task_activity" />
        <activity android:name=".ui.home.MainActivity" />
        <activity android:name=".ui.init.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="APP_CHANNEL"
            android:value="opensource" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c18feb8f1f5568cb70001f9" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="opensource" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f3508edcaf477c3080f067f224d79ca3" />
    </application>

</manifest>